
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.item-1-Ami {
  width: 100%;
  height: 120rem;
  position: relative;
  overflow: hidden;
  background-color: #4d2d5e;

  .group-378-57z {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 166.0024rem;
    height: 117.5153rem;
    position: absolute;
    left: 0;
    top: 0;

    .auto-group-qwug-bME {
      flex-shrink: 0;
      margin: 0rem 0rem 21.983rem 8.32rem;
      display: flex;
      align-items: flex-end;

      .group-igk {
        width: 16.3274rem;
        height: 14.3374rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 40.3126rem;
      }
      .group-3yv {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 72.165rem 5.283rem 0rem;
        width: 13.9153rem;
        height: 18.6545rem;
        position: relative;
        object-fit: contain;
      }
      .group-z8U {
        height: 18.474rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.8234rem;
        width: 14.9624rem;
      }
    }
    .group-7it {
      background-position: center;
      width: 13.7799rem;
      height: 21.2043rem;
      position: relative;
      background-size: cover;
      margin: 0rem 152.222rem 5.036rem 0rem;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:3:463');
      flex-shrink: 0;

      .vector-SFN {
        vertical-align: top;
        width: 2.3008rem;
        height: 1.112rem;
        position: absolute;
        left: 0;
        top: 2.2774rem;
        object-fit: contain;
      }
      .vector-MNL {
        top: 6.6742rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.3024rem;
        height: 1.1136rem;
        position: absolute;
        left: 0.7263rem;
      }
      .vector-tdA {
        width: 2.3024rem;
        height: 1.1136rem;
        position: absolute;
        left: 2.8527rem;
        top: 11.071rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-dKr {
        left: 4.9791rem;
        top: 15.4694rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.3008rem;
        height: 1.112rem;
        position: absolute;
      }
      .vector-Mme {
        width: 1.1504rem;
        height: 0.5552rem;
        position: absolute;
        left: 0.4559rem;
        top: 3.7334rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-Vsr {
        width: 1.1504rem;
        height: 0.5568rem;
        position: absolute;
        left: 1.1663rem;
        top: 5.2038rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-2Mz {
        width: 1.1504rem;
        height: 0.5552rem;
        position: absolute;
        left: 2.5855rem;
        top: 8.1382rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-maU {
        object-fit: contain;
        vertical-align: top;
        width: 1.1504rem;
        height: 0.5568rem;
        position: absolute;
        left: 3.2959rem;
        top: 9.6086rem;
      }
      .vector-uwa {
        vertical-align: top;
        width: 1.1504rem;
        height: 0.5552rem;
        position: absolute;
        left: 4.7151rem;
        top: 12.543rem;
        object-fit: contain;
      }
      .vector-43n {
        left: 5.4255rem;
        top: 14.0134rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.152rem;
        height: 0.5568rem;
        position: absolute;
      }
    }
    .group-xex {
      flex-shrink: 0;
      margin: 0rem 0rem 20.115rem 148.764rem;
      width: 10.126rem;
      height: 10.125rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .auto-group-grr8-VPz {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 2.393rem 0rem 4.8rem;
      width: calc(100% - 7.1928rem);

      .group-RYY {
        margin: 0rem 131.894rem 0.44rem 0rem;
        width: 14.3456rem;
        height: 14.6753rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-9jS {
        flex-shrink: 0;
        width: 12.5696rem;
        height: 13.8353rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .group-357-VoJ {
    border-radius: 2rem;
    width: 78.8rem;
    height: 210.5693rem;
    position: absolute;
    left: 10rem;
    top: 10rem;

    .frame-1-F1n {
      vertical-align: top;
      border-radius: 2rem;
      width: 78.8rem;
      height: 210.5693rem;
      object-fit: cover;
    }
  }
  .group-379-yTa {
    border-radius: 1.5rem;
    width: 43.4137rem;
    height: 116.01rem;
    position: absolute;
    left: 100.3932rem;
    top: 2rem;

    .frame-1-K1e {
      vertical-align: top;
      border-radius: 1.5rem;
      width: 43.4137rem;
      height: 116.01rem;
      object-fit: cover;
    }
  }
  .group-3TS {
    width: 11.1894rem;
    height: 10.8287rem;
    position: absolute;
    left: 3.6rem;
    top: 82.0747rem;
    object-fit: contain;
    vertical-align: top;
  }
  .group-Zgg {
    left: 87.6rem;
    top: 64.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 5.9767rem;
    height: 7.5148rem;
    position: absolute;
  }
  .group-5uv {
    top: 11rem;
    object-fit: contain;
    vertical-align: top;
    width: 7.9746rem;
    height: 9.2703rem;
    position: absolute;
    left: 94.6635rem;
  }
  .casual-life-3d-orange-planet-with-disk-1-1Yg {
    width: 12rem;
    height: 6.8rem;
    position: absolute;
    left: 141.5rem;
    top: 86.8rem;
    object-fit: cover;
    vertical-align: top;
  }
  .group-v9r {
    width: 5.2781rem;
    height: 6.8757rem;
    position: absolute;
    left: 7.0526rem;
    top: 24.0644rem;
    object-fit: contain;
    vertical-align: top;
  }
}
