
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.item-3-rXn {
  width: 100%;
  height: 120rem;
  position: relative;
  overflow: hidden;
  background-color: #4d2d5e;
}
.item-3-rXn .group-378-PXi {
  width: 166.0024rem;
  height: 117.5153rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-3-rXn .group-378-PXi .auto-group-da2g-Vak {
  margin: 0rem 0rem 21.983rem 8.32rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item-3-rXn .group-378-PXi .auto-group-da2g-Vak .group-1Z6 {
  margin-right: 40.3126rem;
  width: 16.3274rem;
  height: 14.3374rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-rXn .group-378-PXi .auto-group-da2g-Vak .group-XnL {
  margin: 0rem 72.165rem 5.283rem 0rem;
  width: 13.9153rem;
  height: 18.6545rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-rXn .group-378-PXi .auto-group-da2g-Vak .group-4XN {
  margin-bottom: 0.8234rem;
  width: 14.9624rem;
  height: 18.474rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-rXn .group-378-PXi .group-bGQ {
  margin: 0rem 152.222rem 5.036rem 0rem;
  width: 13.7799rem;
  height: 21.2043rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-57J.png');
  flex-shrink: 0;
}
.item-3-rXn .group-378-PXi .group-bGQ .vector-WeG {
  width: 2.3008rem;
  height: 1.112rem;
  position: absolute;
  left: 0;
  top: 2.2774rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-378-PXi .group-bGQ .vector-T3i {
  width: 2.3024rem;
  height: 1.1136rem;
  position: absolute;
  left: 0.7263rem;
  top: 6.6742rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-378-PXi .group-bGQ .vector-PTA {
  width: 2.3024rem;
  height: 1.1136rem;
  position: absolute;
  left: 2.8527rem;
  top: 11.071rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-378-PXi .group-bGQ .vector-Krc {
  width: 2.3008rem;
  height: 1.112rem;
  position: absolute;
  left: 4.9791rem;
  top: 15.4694rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-378-PXi .group-bGQ .vector-ffa {
  width: 1.1504rem;
  height: 0.5552rem;
  position: absolute;
  left: 0.4559rem;
  top: 3.7334rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-378-PXi .group-bGQ .vector-CfW {
  width: 1.1504rem;
  height: 0.5568rem;
  position: absolute;
  left: 1.1663rem;
  top: 5.2038rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-378-PXi .group-bGQ .vector-jfS {
  width: 1.1504rem;
  height: 0.5552rem;
  position: absolute;
  left: 2.5855rem;
  top: 8.1382rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-378-PXi .group-bGQ .vector-Usv {
  width: 1.1504rem;
  height: 0.5568rem;
  position: absolute;
  left: 3.2959rem;
  top: 9.6086rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-378-PXi .group-bGQ .vector-RYG {
  width: 1.1504rem;
  height: 0.5552rem;
  position: absolute;
  left: 4.7151rem;
  top: 12.543rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-378-PXi .group-bGQ .vector-ZuN {
  width: 1.152rem;
  height: 0.5568rem;
  position: absolute;
  left: 5.4255rem;
  top: 14.0134rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-378-PXi .group-5cp {
  margin: 0rem 0rem 20.115rem 148.764rem;
  width: 10.126rem;
  height: 10.125rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-rXn .group-378-PXi .auto-group-brfn-ooi {
  margin: 0rem 2.393rem 0rem 4.8rem;
  width: calc(100% - 7.1928rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item-3-rXn .group-378-PXi .auto-group-brfn-ooi .group-8b6 {
  margin: 0rem 131.894rem 0.44rem 0rem;
  width: 14.3456rem;
  height: 14.6753rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-rXn .group-378-PXi .auto-group-brfn-ooi .group-fL8 {
  width: 12.5696rem;
  height: 13.8353rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-rXn .group-357-Q2p {
  box-sizing: border-box;
  padding: 0 2.6087rem;
  width: 110rem;
  height: 324.5rem;
  position: absolute;
  left: 25rem;
  top: 0;
  background-color: rgba(113, 87, 126, 0.8000000119);
  border-radius: 2.4rem;
}
.item-3-rXn .group-357-Q2p .frame-1-XdE {
  width: 104.7826rem;
  height: 322rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.6rem;
}
.item-3-rXn .group-361-1oJ {
  width: 11.9192rem;
  height: 11.9191rem;
  position: absolute;
  left: 15.5rem;
  top: 40.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-rXn .group-363-M6U {
  box-sizing: border-box;
  padding: 2.245rem 2.857rem 2.289rem 2.953rem;
  width: 11.2rem;
  height: 11.2rem;
  position: absolute;
  left: 133rem;
  top: 80rem;
  box-shadow: 0 0.4rem 5rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
  border-radius: 1.8rem;
}
.item-3-rXn .group-363-M6U .group-Fhe {
  width: 5.3892rem;
  height: 6.6662rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
